{% load static %}
<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="Inscription Geospark parking intelligent">
			<meta name="author" content="Mohabeddine Hadjer">
			<link rel="icon" type="image/png" href="{% static 'css/img/geoSpark_sans_ecriture.png' %}" />
    		<link href="{% static 'css/training.css' %}" rel="stylesheet">
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
			<title>Inscription GeoSpark</title>
		</head>
		<body>

		<div class="container-fluid">
			<div class="row d-flex justify-content-center ">
			<form class=" col-lg-8 col-sm-9 col-10 shadow align-middle mt-5" style="background: white" method="POST"> {% csrf_token %}
				<div class="row d-flex justify-content-center">
					<div class="col-12 d-flex justify-content-center" style="margin-bottom: -8%;"> 
						<img src="{% static 'css/img/geoSpark_avec.png' %}" alt="logo">
					</div>
					<br>
					<h1 class="font-weight-normal col-12">Inscription:</h1>
					<br>
					{% load crispy_forms_tags %}
				<div class="form-row d-flex justify-content-center">
					<div class="form-group col-md-5 col-10 mb-0">
				 		{{form.last_name|as_crispy_field}}
						<br>
					</div>
				 	<div class="form-group col-md-5 col-10 mb-0">
				 		{{form.first_name|as_crispy_field}}
						<br>
					</div>
					<div class="form-group col-md-10 col-10 mb-0">
				 		{{form.username|as_crispy_field}} 
						<br>
					</div>
				 	<div class="form-group col-md-10 col-10 mb-0">
				 		{{form.email|as_crispy_field}} 
						<br>
					</div>
				 	<div class="form-group col-md-10 col-10 mb-0">
				 		{{form.password1|as_crispy_field}} 
						<br>
					</div>
				 	<div class="form-group col-md-10 col-10 mb-0">
				 		{{form.password2|as_crispy_field}} 
						<br>
					</div>
				</div>
				<div class="form-row d-flex justify-content-center">
					<div class="form-group col-lg-5 col-sm-10 col-10 mb-0">
						<label for="numBadge" class="col-lg-12 col-12">Numéro du badge</label> 
						<input  class="col-lg-12 col-12 mb-4 form-control" type="text" name="numBadge" id="numBadge" required>
						<br>
					</div>
					<div class="form-group col-lg-5 col-sm-10 col-10 mb-4">
						<label class="col-lg-12 col-12  " for="phone">Numéro de téléphone </label> 
						<input  class="col-lg-12 col-12 form-control" type="phone" name="phone" id="phone" required>
					</div>
					<label class="col-lg-10  col-10 mb-2 mt-4" for="car">Type de véhicule </label> 
					<input  class="col-lg-10 col-10 mb-4 form-control" type="text" name="car" id="car" required>
					<br>
					<label class="col-lg-10 col-10 mt-4 mb-2" for="numPlate">Plaque d'immatriculation </label> 
					<input  class="col-lg-10 col-10 form-control" type="text" name="numPlate" id="numPlate" required>
					<br>
					<label class="mr-sm-2 sr-only" for="company">Preference</label>
      				<select class="custom-select mr-sm-2 col-10 mt-5" id="company" name="company">
      					<option selected disabled>choisissez votre entreprise</option>
      					{% for parking in parkings %}
        				<option value="{{parking.compagnie_site}}">{{parking.compagnie_site}}</option>
        				{% endfor %}
      				</select>
					<label for="cdt" class="col-10 float-left mt-4 mb-3" >
					<input class="col-1 mt-2" type="checkbox" name="conditions" id="cdt" required> 
					<a class="col-11" href="#conditions.html" style="color:#3399ff;">J'accepte les conditions d'utilisation de l'application</a> </label>
				</div>
				<div class="justify-content-center text-center col-sm-12">
					<a href="{% url 'Connexion' %}" style="color:white; border: #191970;font-size: 1.1em;" type="reset" class="btn btn-primary float-sm-left col-lg-5 col-sm-5  col-10 mb-2" id="resetForm"> 
						Annuler
					</a> 

					<button style="color:white; border: #191970;font-size: 1.1em;" class="btn btn-primary col-lg-5 col-sm-5 col-10 float-sm-right " type="submit" id="subForm">  S'inscrire</button> 
				
					<p style="color: red;" >{{form.errors}}</p>
				
				</div>
			</div>
		</form>	
		
	</div>
	
	</div>
	</body>
	</html>
