{% extends "lg.html" %}

{% load crispy_forms_tags %}
{% block content %}
<form class=" col-10 col-sm-5 col-md-4   shadow-sm" style="background: white" method="post">

<p><h3>Changement de mot de passe</h3>

Avez-vous oublié votre mot de passe? Entrer votre adresse mail et nous vous enverrons un lien pour changer votre mot de passe</p>
	{% csrf_token %}
	{{form|crispy}}
	<div class="d-flex justify-content-center"><button class="btn btn-primary col-5" type="Submit" name="Send email">Valider </button></div>
	
</form>

{% endblock %}